<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MAPS_API_KEY</key>
	<string>AIzaSyBIBfDT9HzlKPAv47Onh_h5zlOV4UnSffE</string>
	<key>GMS_MAP_ID</key>
	<string>ba0b3335424ff2f4</string>
</dict>
</plist>
